
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Export">Test</a>
<a href="https://localhost:44339/demo.xlsx">Enlace a un documento</a>*@


